{% extends "base.html" %}



{% block page %}

<section id="page">
				<div class="container">
					<div class="row">
						<div class="col-md-12 column">
							<article id="page-content" class="clearfix editor-styles">
                                <header>

                                    <h3>about me</h3>

                                </header>
                                <div class="editor-styles">
                                一个无聊者的无聊介绍
                                </div>
                                </article>

						</div>
					</div>

				</div>

			</section>
{% endblock %}