{% extends "base.html" %}



{% block page %}

<section id="page">
				<div class="container">
					<div class="row">
						<div class="col-md-12 column">
							<article id="page-content" class="clearfix editor-styles">
                                <header>
                                    <div class="media">
                                        <img src="assets/img/home/1.jpg" alt=""></a>
                                    </div>
                                    <h3>{{post.title}}</a></h3>
                                    <span>{{ post.pub_date }}</span>
                                </header>
                                <div class="editor-styles">
                                    {% if post.body_html %}
                                        {{ post.body_html | safe }}
                                    {% else %}
                                        {{ post.body }}
                                    {% endif %}
                                </div>
                                </article>

						</div>
					</div>
                        <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="post.title"
                         data-url="{{ url_for('post', id=post.id) }}">

                    </div> <!-- 多说评论框 end --> <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name:"wexsite"};
                            (function() { var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })();
                    </script> <!-- 多说公共JS代码 end -->
				</div>

			</section>
{% endblock %}



